name: iOS IPA Build
on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Bağımlılıkları Yükle
        run: |
          python -m pip install --upgrade pip
          python -m pip install kivy-ios plyer Cython==0.29.33

      - name: iOS Toolchain Hazırla
        run: |
          python -m pip install git+https://github.com/kivy/kivy-ios.git
          toolchain build python3 kivy

      - name: Projeyi Oluştur
        run: |
          # Proje adını 'waterapp' olarak sabitliyoruz
          toolchain create "WaterApp" .

      - name: Xcode ile Derle
        run: |
          xcodebuild -project waterapp-ios/waterapp.xcodeproj \
            -scheme waterapp \
            -configuration Release \
            -sdk iphoneos \
            -derivedDataPath build \
            CODE_SIGNING_ALLOWED=NO \
            CODE_SIGNING_REQUIRED=NO \
            AD_HOC_CODE_SIGNING_ALLOWED=YES

      - name: Dosyayı Paylaş
        uses: actions/upload-artifact@v3
        with:
          name: WaterApp-Folder
          path: build/Build/Products/Release-iphoneos/
